node_modules
config.core.php
sftp-config.json
.idea
.gitignore
.DS_Store
tests/properties.inc.php
package-lock.json
/.github/
/_build/
/temp/
/tests/
/.ecrc
/.editorconfig
/.gitignore
/.htaccess
/LICENSE
/package.json
/phpcs.xml
/README.md
