/* Main styles */
a.link, a.ms2-link { color: #005580; }
.x-color-palette { width: 80%; height: auto; cursor: pointer; }
.action-red { color: darkred !important; }
.x-btn-over .action-red { color: white !important; }
.action-green { color: darkgreen !important; }
.x-btn-over .action-green { color: white !important; }
.action-blue { color: cadetblue !important; }
.x-btn-over .action-blue { color: white !important; }
.action-yellow { color: goldenrod !important; }
.x-btn-over .action-yellow { color: white !important; }
.action-gray { color: dimgray !important; }
.x-btn-over .action-gray { color: white !important; }
.x-form-field-trigger-wrap.disabled input { color: #aaa; }
/* Search field */
.x-field-search-clear,
.x-field-search-go { border-left: 1px solid #e4e4e4 !important; }
.x-field-search-clear:hover,
.x-field-search-go:hover { border-left-color: transparent !important; }
.x-field-search-clear:before { content: '\f00d' !important; }
.x-field-search-go { right: 31px !important; border-radius: 0 !important; }
.x-field-search-go:before { content: '\f002' !important; }
/* Grids */
.minishop2-grid .x-grid3 { border: 1px solid #e4e9ee; }
.minishop2-grid .x-grid3-row-last,
.minishop2-grid .x-grid3-row-last.x-grid3-row-selected { border-bottom-color: transparent !important; }
.minishop2-grid .x-grid-group-hd div.x-grid-group-title { padding: 8px 4px 12px 5px; }
.minishop2-row-unpublished div,
.minishop2-row-unpublished span,
.minishop2-row-unpublished a {
    font-style: italic;
    color: #aaa !important;
}
.minishop2-row-deleted div,
.minishop2-row-deleted span,
.minishop2-row-deleted a {
    color: brown !important;
    text-decoration: line-through !important;
}
.minishop2-row-unpublished img,
.minishop2-row-deleted img {
    opacity: .5;
}
.minishop2-row-inactive div {
    font-style: italic;
    color: #aaa !important;
}
.minishop2-row-required div {
    font-weight: bold;
}
.tbar-checkbox { text-align: left; }
.tbar-checkbox label { padding: 2px 0 0 22px !important; }
/* Grid actions and menu */
ul.minishop2-row-actions {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.minishop2-row-actions li { float: left; }
ul.minishop2-row-actions .btn {
    padding: 2px;
    margin-right: 2px;
    min-width: 26px;
}
ul.minishop2-row-actions .btn.actions-menu { width: 40px; }
ul.minishop2-row-actions .btn.actions-menu:after { content: " \f107"; }
a.x-menu-item .x-menu-item-text * { cursor: pointer; }
a.x-menu-item .x-menu-item-text .icon { line-height: 16px; top: auto; }
.x-menu-list .icon { min-width: 1em; text-align: center; }
.ext-strict .x-menu-item-icon { top: 5px; }
.x-menu-list-item:hover .icon { color: inherit !important; }
.x-menu-list .icon { min-width: 1em; text-align: center; }
.x-tab-strip li { list-style: none; }
.x-grid3-col-actions { padding: 5px 0 0 5px !important; }
.x-grid3-col-actions .action-red, .x-menu .action-red { color: darkred !important; }
.x-grid3-col-actions .action-green, .x-menu .action-green { color: darkgreen !important; }
.x-grid3-col-actions .action-blue, .x-menu .action-blue { color: cadetblue !important; }
.x-grid3-col-actions .action-yellow, .x-menu .action-yellow { color: goldenrod !important; }
.x-grid3-col-actions .action-gray, .x-menu .action-gray { color: dimgray !important; }
.x-grid3 .green { color: darkgreen; }
.x-grid3 .red { color: darkred; }
/* Windows */
.minishop2-window .x-form-label-top .x-form-item label.x-form-item-label { padding-top: 15px !important; }
.minishop2-window .x-panel-mc,
.minishop2-window .x-tab-panel-bwrap > .x-tab-panel-body > .x-panel { margin-top: -15px; }
.minishop2-window .x-window-body.tabs { padding: 5px 10px 0 10px; }
.minishop2-window .desc { font-style: italic; padding-top: 5px; color: #555555; }
/* Tree */
.minishop2-panel .x-tree-root-ct,
.minishop2-window .x-tree-root-ct { overflow: visible; }
.minishop2-panel .x-tree-root-ct input,
.minishop2-window .x-tree-root-ct input { vertical-align: top; }
/* Orders */
#minishop2-form-orders { padding-top: 10px; padding-bottom: 0; }
#minishop2-grid-orders { padding-top: 10px; }
#minishop2-form-orders .x-panel-btns { margin-top: -44px; }
#minishop2-orders-info {
    background: #f9f9f9;
    height: 95px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
#minishop2-orders-info table { width: 100%; }
#minishop2-orders-info td { width: 50%; }
#minishop2-orders-info .top td { font-size: 10px; }
#minishop2-orders-info .top td span { font-size: 30px; line-height: 30px; }
#minishop2-orders-info .bottom td { padding-top: 10px; font-size: 10px; }
#minishop2-orders-info .bottom td span { font-size: 30px; line-height: 30px; }
/* Products */
.x-grid3-col-product-title,
.x-grid3-col-product-image,
.x-grid3-col-product-thumb,
.x-grid3-col-vendor-logo,
.x-grid3-col-image {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.x-grid3-col-product-image img,
.x-grid3-col-product-thumb img,
.x-grid3-col-vendor-logo img,
.x-grid3-col-image img {
    max-height: 40px;
    display: block;
}
.x-grid3-col-product-title .id { font-size: 90%; padding-right: 5px; color: #555; }
.x-grid3-col-product-title .product-category { font-size: 80%; padding-top: 7px; color: #555; }
.x-grid3-col-product-title .product-category a { color: #555; text-decoration: none; }
.x-grid3-col-product-title .product-category a:hover { color: #005580; text-decoration: underline; }
.x-grid3-col-product-title .native-product { padding-top: 13px; }
.x-grid3-col-product-title .native-product .ms2-link { font-weight: bold; }
.x-grid3-col-product-title .nested-product { padding-top: 5px; }
.x-grid3-col-product-title .nested-product .ms2-link { }
#minishop2-product-tabs { margin-top: 0; padding: 5px 2px; overflow: hidden; }
#minishop2-product-tabs > .x-tab-panel-header { padding: 0 10px; }
#minishop2-product-tabs .x-tab-strip { background-color: transparent !important; }
#minishop2-product-tabs > .x-tab-panel-header > .x-tab-strip-wrap > .x-tab-strip > .x-tab-strip-active {
    box-shadow: 0 -3px 0 #aaa, -1px 0 0 transparent;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
#minishop2-product-tabs .x-tab-strip li.x-tab-strip-active:before { top: 100%; }
#minishop2-product-tabs .x-tab-strip li { color: #111; }
#minishop2-product-tabs .x-tab-strip .x-tab-strip-text { line-height: 2; font-size: 90%; }
#minishop2-product-tabs > .x-tab-panel-bwrap { border: 1px solid #f0f0f0; margin-top: -1px; }
#minishop2-categories-tree { overflow: hidden; }
#minishop2-product-image-wrap { text-align: center; }
#minishop2-product-image { max-width: 100%; height: auto; }
/* Gallery */
#minishop2-gallery-page.drag-over:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: block;
    opacity: 0.1;
    background: forestgreen;
    border: 5px solid darkgreen;
}
/* Images list */
.minishop2-gallery-images { float: left; }
#minishop2-gallery-images-view { min-height: 150px; }
.minishop2-gallery-thumb-wrap:hover { border: 1px solid #aaa; }
.minishop2-gallery-thumb { width: 120px; height: 90px; }
.minishop2-gallery-thumb img { max-width: 120px; max-height: 90px; display: block; margin: auto; }
.minishop2-gallery-window-thumb { border: 1px solid #e4e4e4; border-radius: 2px; background: #fdfdfd; }
/* Gallery image window */
.minishop2-gallery-cba .x-form-cb-label { margin-top: 6px; }
.minishop2-gallery-window-link { width: 100%; display: block; text-align: center; }
.minishop2-gallery-window-details { width: 100%; font-size: 12px; }
.minishop2-gallery-window-details th { text-align: right; padding-right: 5px; width: 50%; }
/* Settings */
.x-grid3-col-color { padding-top: 10px; padding-bottom: 10px; }
.status-color { width: 30px; height: 20px; border-radius: 3px; }